@import url(https://fonts.googleapis.com/css?family=Montserrat);
body,html{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  height: 100%;
}
.topo, .bg_historia{
  width: 100%;
  position: relative;
  height: 500px;
  background: radial-gradient(circle, #fbb600, #da5900);
  color: black;
  border-bottom: 1px solid #db8300;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#mainNav{
  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#mainNav a{
  color: #000;
}
#mainNav button{
  color: #000;
  border: 1px solid #eb8303;
  
}
.affix{
  background-color: #da5900 !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.7rem !important;
  padding: linear;
  font-size: 1rem;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: #fff !important;
}
.affix a{
  color:  #fff !important;
}
.affix button{
  color: #fff !important;
  border: 1px solid #fff !important;
}
.bg_historia{
  height: auto;
  
  
}
#beerCanvas, #beerCanvas2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100%;
  
}
.coming_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  color: black;
  text-align: center;
  z-index: 101;
  h1{
    font-size: em(90px);
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
    color: white;
  }
  .separator_container {
    width: 10px;
    display: block;
    text-align: center;
    position: relative;
    
    margin: 12px;
    color: black;
  }
  .separator {
    color: white;
    margin: 0 auto 1em;
    width: 11em;
  }
  .line_separator {
    svg {
      width: 30px;
      height: 20px;
    }
    &:before, &:after {
      display: block;
      width: 40%;
      content: " ";
      margin-top: 14px;
      border: 1px solid white;
    }
    &:before {
      float: left;
    }
    &:after {
      float: right;
    }
  }
  h3 {
    font-family: font-text;
    letter-spacing: 2px;
    line-height: 2;
    font-size: em(16px);
    font-weight: 400;
    text-align: center;
    margin: 0;
    a {
      text-decoration: underline;
    }
  }
}

/*===================== card =====================*/

.card:hover{
  background-color: #fefefe;
  box-shadow: 0 2px 3px rgba(0,0,0,.5);
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.card-img-block {
  margin-bottom: -0.5rem !important; 
  
}

.profile-card{
  margin-top:20px;
}
.profile-card .btn{
  border-radius:2px;
  text-transform:uppercase;
  font-size: 1rem;
  padding:7px 20px;
}
.profile-card .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -10px;

}
.profile-card .card-img-block img{
  border-radius: 3px;
  box-shadow:0 0 5px rgba(0,0,0,0.63);
  
  
  
}
.profile-card h5{
  color:#4E5E30;
  font-weight:600;
}
.profile-card p{
  font-size:1rem;
  font-weight:300;
}
.profile-card .btn-warning{
  background-color:#4E5E30;
  border-color:#4E5E30;
}