<!DOCTYPE html>
<html ng-app="appzeebeer">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adega livery</title>
    <link rel="shortcut icon" type="image/x-icon" href="imagens/favicon.ico">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="zeebeerCtrl">
    <header class="topo">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a href="#topo" class="navbar-brand">{{titulo}}</a>
                <button class="navbar-toggler navbar-toggler-right" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle Navigation">menu</button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#" class="nav-link">Nossas Bebidas</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Descrição das bebidas</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Contatos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <canvas id="beerCanvas"></canvas>
            <div class="coming_content">
                <div>Ola mundo</div>
                <div class="separator_container">
                    <div class="separator line_separator">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="100"
                            viewBox="0 0 320.864 320.864">
                            <path fill="#000"
                            d="M184.04 81.83c-1.89-5.1-3.46-28.63-3.926-55.05-.003-.1.107-.37.514-.37 2.092-.125 3.248-1.79 3.248-3.91V4c0-2.2-1.8-4-4-4H140.99c-2.2 0-4 1.8-4 4v18.5c0 2.123 1.06 3.77 3.152 3.89.673 0 .613.478.61.673-.463 26.677-2.035 49.67-3.925 54.77-11.12 29.993-35.884 27.39-35.884 63.393V273.96c0 49.536 24.92 47.044 59.49 46.82 34.57.224 59.49 2.716 59.49-46.82V145.226c0-36.002-24.764-33.4-35.883-63.394zm12.89 127.953c-5.845 8.89-31.005 30.02-36.458 30.02-5.338 0-30.727-21.21-36.532-30.02-2.907-4.41-4.97-9.277-4.627-15.678.605-11.325 9.866-20.678 21.208-20.678 11.66 0 18.45 12.44 19.915 12.44 1.675 0 8.755-12.44 19.914-12.44 11.34 0 20.6 9.353 21.206 20.678.342 6.4-1.713 11.247-4.627 15.678z" />
                        </svg>
                    </span>
                </div>
            </div>
            <h3> Ola mundo cerva</h3>
        </div>
    </div>
</header>
<section><!--Inicio das bebidas-->
    <br>
    <div class="container">
        <header>
            <h2 class="text-center">
                Nossas Bebidas!!!
            </h2>
            <hr>
        </header>
        
        <div class="card-columns">
            <div class="card profile-card" ng-repeat="cerveja in cervejas">
                <div class="card-img-block" ng-show="cerveja.img">
                    <img ng-src="imagens/{{cerveja.img}}" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{cerveja.nome}}
                        <small><em>{{cerveja.tipo}}</em></small>
                    </h5>
                    <p class="card-text">
                        {{cerveja.descricao | cut:true:100}}
                    </p>
                    <footer class="blockquote-footer">
                        <cite class="source title">{{cerveja.composicao}}</cite>
                    </footer>
                    <br>
                    <button class="btn btn-outline-warning btn-block text-dark"
                    ng-click="detalhar(cerveja)">
                    Leia mais...
                </button>
            </div> 
        </div>
    </div>
</div>

<br>
</section><!--Fim das bebidas-->
<section class="bg_historia"><!--inicio descrição-->
    <canvas id="beerCanvas2"></canvas>
    <div class="container my-3">
        <header>
            <h2 class="text-center">
                Descrição das bebidas
            </h2>
            <hr>
        </header>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-8 col-xs-12 text-justify">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut doloribus vero, ipsa deleniti eaque blanditiis ullam exercitationem nobis, ducimus aliquam dolor, enim consectetur labore! Dignissimos voluptatibus eius animi iusto.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut doloribus vero, ipsa deleniti eaque blanditiis ullam exercitationem nobis, ducimus aliquam dolor, enim consectetur labore! Dignissimos voluptatibus eius animi iusto.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aut doloribus vero, ipsa deleniti eaque blanditiis ullam exercitationem nobis, ducimus aliquam dolor, enim consectetur labore! Dignissimos voluptatibus eius animi iusto.</p>
            </div>
            <div class="col-4 col-xs-12 text-center">
                Logo Marca
            </div>
        </div>
    </div>
</section><!--Fim descrição-->
<section><!--Inicio Contatos-->
    <header>
        <h2>
            Contatos
        </h2>
    </header>
</section><!--Fim Contatos-->
<footer class="border-top border-warning bg-light py-5 text-dark text-center"><!--Inicio Rodape-->
    <div class="cntainer">
        <div>
            <img src="" alt="" width="100">
        </div>
        <div class="btn-group text-white my-3 shadow-sm">
            <a href="https://facebook.com" target="_blank" class="text-dark btn btn-outline-warning">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="text-dark btn btn-outline-warning">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="text-dark btn btn-outline-warning">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <p> <small>&copy;2021 - @Jreis</small></p>
        <p>&ldquo;ola mundo&rdquo; &mdash; de <em>Sp, Sp</em> para <em>Sp,Sp</em></p>
    </div>
</footer><!--Fim Rodape-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/bd.js"></script>
<script src="js/script.js"></script>
<script src="js/appzeebeer.js"></script>

</body>
</html>
